[Unit]
Description=InfoFusion Text Mining Engine
Documentation=http://www.opentext.com
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ master_username }}
Group={{ master_username }}
ExecStart={{ tme_target_dir }}/{{ tme_package_basename }}/bin/tme start
ExecStop={{ tme_target_dir }}/{{ tme_package_basename }}/bin/tme stop
ExecReload={{ tme_target_dir }}/{{ tme_package_basename }}/bin/tme restart
RestartSec=5s
TimeoutStartSec=10s

[Install]
WantedBy=multi-user.target
