[Unit]
Description=InfoFusion Dashboard
After=network.target

[Service]
Type=forking
ExecStart={{dashboard_installation_path}}/bin/catalina.sh start
ExecStop={{dashboard_installation_path}}/bin/catalina.sh stop

[Install]
WantedBy=multi-user.target
