# Thu Oct 12 00:17:15 UTC 2017
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.



#Choose Install Folder
#---------------------
USER_INSTALL_DIR={{ USER_INSTALL_DIR }}

#Unique suffix
#-------------

#User information
#----------------

#Configure Zookeeper
#-------------------
NB_NODES=\"1\"

#Zookeeper Nodes Info
#--------------------
ZK_NODES.1.Client_Port=2181
ZK_NODES.1.Host=otif-pipeline.opentext.net
ZK_NODES.1.Communication_Port=2888
ZK_NODES.1.Election_Port=3888

#Install
#-------
-fileOverwrite_/opt/infofusion-16.2/zookeeper/otif-version.txt=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/README.txt=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/_Zookeeper for OpenText InfoFusion_installation/Change Zookeeper for OpenText InfoFusion Installation.lax=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/LICENSE.txt=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/jline-0.9.94.jar=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-390-32.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-390-64.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-armel-32.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-armhf-32.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-x86-32.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-x86-64.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/log4j-1.2.17.jar=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/netty-3.7.0.Final.jar=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/slf4j-api-1.7.10.jar=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/slf4j-log4j12-1.7.10.jar=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/wrapper.jar=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/zookeeper-3.4.6.jar=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-ia-64.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-ppc-32.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-ppc-64.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/lib/libwrapper-linux-ppc64le-64.so=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/conf/configuration.xsl=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/conf/log4j.properties=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/conf/ot-zk.properties=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/conf/wrapper-license.conf=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/conf/wrapper.conf=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/conf/zoo.cfg=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/conf/wrapper-java-command.conf=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/otif.sh=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/README.txt=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/readProperties.sh=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/wrapper-linux-390-32=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/wrapper-linux-390-64=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/wrapper-linux-armel-32=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/wrapper-linux-armhf-32=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/wrapper-linux-x86-32=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/wrapper-linux-x86-64=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/zkCleanup.sh=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/zkCli.sh=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/zkEnv.sh=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/zkServer.sh=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/daemonUser.sh=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/distOS.sh=Yes
-fileOverwrite_/opt/infofusion-16.2/zookeeper/bin/wrapper.sh=Yes
