# {{ansible_managed}}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['all'] %}

  {{hostvars[host]['ansible_' + adapter]['ipv4']['address']}}{{'  ' -}}   
  {{hostvars[host]['ansible_fqdn']}}{{'  ' -}}
  {%- if domain -%}
     {{hostvars[host]['ansible_hostname']}}.{{domain}}{{'  ' -}}
  {%- else -%}
     {{hostvars[host]['ansible_hostname']}}.{{hostvars[host]['ansible_domain']}}{{'  ' -}}
  {%- endif -%}  
  {{hostvars[host]['ansible_hostname']}}{{'  ' -}}  
  {%- for group in hostvars[host]['group_names'] -%}
         {%- for member in hostvars[host]['groups'][group] -%}
             {%- if member == host -%}
                 {%- if hostvars[host]['groups'][group] | length > 1 -%}
                     {%- set loop_sep = '-' -%}
                     {%- set loop_index = loop.index -%}
                 {%- else -%}
                     {%- set loop_sep = '' -%}
                     {% set loop_index = '' -%}
                 {%- endif -%} 
                 {{group}}{{loop_sep}}{{loop_index}}{{'  ' -}}
                 {%- if domain -%}
                    {{group}}{{loop_sep}}{{loop_index}}.{{domain}}{{'  ' -}}
                 {%- else -%}
                    {{group}}{{loop_sep}}{{loop_index}}.{{hostvars[host]['ansible_domain']}}{{'  ' -}}
                 {%- endif -%}
              {%- endif -%}
         {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}
