<?xml version="1.0" encoding="UTF-8"?>
<crawlers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

        <!-- An entry of crawler must be provided for each new crawler implemented
                Either Service Info or configuration must be provided, only of these must
                be provided. If ...sdl.enable=true in config.properties, then service-info
                must be provided. Else, configuration must be provided! -->

        <crawler type="Twitter Search">
                <service-info>
                        <service-name>crawler-twitter</service-name>
                        <service-type>dynamic</service-type>
                </service-info>
        </crawler>
        <crawler type="Twitter Stream">
                <service-info>
                        <service-name>crawler-twitter</service-name>
                        <service-type>dynamic</service-type>
                </service-info>
        </crawler>
        <crawler type="Web">
                <service-info>
                        <service-name>crawler-web</service-name>
                        <service-type>static</service-type>
                </service-info>

                <instances>
                    <instance>
                        <scheme>http</scheme>
                                <host>{{ wsm_crawler_hostname }}</host>
                                <port>10011</port>
                                <base-path>/</base-path>
                    </instance>
                </instances>
        </crawler>
</crawlers>
