TRUNCATE TABLE web, usermentions, urls, "language", hashtags, tweets,
	ca_category, ca_concept, ca_term_attribute, ca_term, ca_summary,
	ca_document_sentiments, ca_subterm, ca_sentence_sentiments,
	document CASCADE;

