
INSERT INTO public.crawler_config(config_id, config_description, crawler_type, active) VALUES ('otif-1', 'Sample access token for public Twitter API', 'Twitter', true);
INSERT INTO public.crawler_config_props(sno, config_id, property_name, property_value) VALUES (1, 'otif-1', 'ACCESS_TOKEN', '12842652-i1qoXufhBX7ZHyrq6xyA32Z3SGVTvRBRFzyNlWSmz');
INSERT INTO public.crawler_config_props(sno, config_id, property_name, property_value) VALUES (2, 'otif-1', 'CONSUMER_SECRET', '9CJYOOBR9mSBL0gC1alejvyvfICXFiFMts66NKIk3vInQLj3FZ');
INSERT INTO public.crawler_config_props(sno, config_id, property_name, property_value) VALUES (3, 'otif-1', 'CONSUMER_KEY', 'jCF3SP0aFiqkDwvw5UO52pzEm');
INSERT INTO public.crawler_config_props(sno, config_id, property_name, property_value) VALUES (4, 'otif-1', 'ACCESS_SECRET', 'COlIFpmBWjaHs66HhkwwIUTFCUkiDCoyfyWaOGtUT5oSb');





