[Unit]
Description=OpenText InfoFusion Crawler 1
After=syslog.target

[Service]
Type=forking
ExecStart={{ USER_INSTALL_DIR }}/bin/wrapper.sh start sysd
ExecStop={{ USER_INSTALL_DIR }}/bin/wrapper.sh stop sysd
User={{ wsm_crawler_deamon_user }}

[Install]
WantedBy=multi-user.target
